
/* radio gruppen css für spielregeln und randeinstellungen */
.toggle-buttons input[type="radio"] {
	visibility: hidden;
  
}

.toggle-buttons label {
	border: 1px solid #333;
	padding: 10px;
	margin: 10px 0;
	border-radius: 0;

}

.toggle-buttons input:checked + label {
	background: #ebf5d7;
	color: #5a9900;
	box-shadow: none;
 
}

input:hover + label,
input:focus + label {
	background: #ffebe6;
}

.toggle-buttons {

  
  
}

.toggle-buttons input {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 0;
	left: 0;
}


/* abrunden der enden */
.toggle-buttons label:first-of-type {
	border-radius: 8px 0 0 8px;
}

.toggle-buttons label:last-of-type {
	border-radius: 0 8px 8px 0;
}