
/* radio gruppen css für spielregeln und randeinstellungen */

.toggle-buttons label {
	
	margin: 5px;
	background-color:#c709f1;
	border-radius:13px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:'Courier New',Courier,monospace;
	font-size:1.6rem;
	font-weight:bold;
	padding:7px 15px;
    text-align:center;
	text-decoration:none;
    outline:none;
    box-shadow:3px 6px #999;

}

.toggle-buttons input:checked + label {
	background: #f16107 !important;
	color: #ffffff;
	box-shadow: none;
	margin: 5px;
	background-color:#474747;
	border-radius:13px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:'Courier New',Courier,monospace;
	font-size:1.6rem;
	font-weight:bold;
	padding:7px 15px;
    text-align:center;
	text-decoration:none;
    outline:none;
    box-shadow:3px 6px #999;
	
 
}
 
.toggle-buttons input:hover + label,
.toggle-buttons input:focus + label {
	background: #f16107;
}


.toggle-buttons input {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 0;
	left: 0;
	
}


