html, body, .container {
	height: 100%;
	margin: 0;
	background-color: #f9f9f9;
}

h1 {
    color: rgb(167, 167, 162);
    text-align: center;
}

.container {
	display: grid;
	grid-template-columns: 0.015fr 1.6fr 0.5fr;
	grid-template-rows: 0.3fr 2.6fr 0.1fr;
	gap: 0em 0em;
	grid-auto-flow: column dense;
	grid-template-areas:
	  "header header header"
	  "left-space game-stage config-menue"
	  "footer footer footer";
}
  
.game-stage {
	grid-area: game-stage;
  display: grid;
  justify-content: center;
  align-items: center;
}
  
.config-menue {
	grid-area: config-menue;
}
  
.header {
	grid-area: header;
}
  
.footer {
	grid-area: footer;
}

#game-field {
  display: grid;
}

#helptitle {
    text-align: center;
    color: rgb(167, 167, 162);
}


#helpinfobox {
    display: grid;
    grid-template-columns: auto auto;
}

.helpinfo {
    grid-column-start: 1;
    margin-left: 5%;
}

.helpimg {
    grid-column-start: 2;
}

.button {
	box-shadow:inset 0px 7px 0px -9px #ffffff;
	background-color:#f9f9f9;
	border-radius:13px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Courier New;
	font-size:16px;
	font-weight:bold;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background-color:#e9e9e9;
}
.button:active {
	position:relative;
	top:1px;
}


.btn-pause {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af4c4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.btn-pause:hover {background-color: #a22739}

.btn-pause:active {
    background-color: #8e4d3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.btn-start {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.btn-start:hover {background-color: #29ac2d}

.btn-start:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.btn-rng {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9eb63d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.btn-rng:hover {background-color: #8eca1f}

.btn-rng:active {
    background-color: #9aa523;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }